@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "roboto";
  src: url("/fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "roboto";
  src: url("/fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@layer base {
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }

  body {
    color: black;
    background: white;
    font-family: "roboto", sans-serif;
    font-size: 16px;
    color: theme("colors.fontLight");
  }

  main {
    margin: 0 auto;
    max-width: 80vw;
    max-width: 80svw;
  }
}

@layer components {
  .nav-item {
    @apply relative cursor-pointer after:absolute after:left-0 after:top-6 after:h-1 after:w-0 after:bg-logoGreen after:content-[''];
  }

  /* .nav-item:hover::after {
    @apply w-full transition-all duration-300 ease-in-out;
  } */

  .nav-item::after.active {
    @apply w-full transition-all duration-300 ease-in-out;
  }

  .nav-item::after {
    @apply w-0 transition-all duration-300 ease-in-out;
  }
}
